<h1>Edit Building Information</h1>

<%= form_for @building do |f|%>
    <%= f.label :name %>
    <%= f.text_field :name%>

    <%= f.label :rent_per_floor %>
    <%= f.number_field :rent_per_floor, :required => true %>

    <%= f.submit %>
<%end%>